[2018-03-20 10:10] TITAN9389 opened #1 "How to Specify a version ? IE11+"
I need to use this to show some pages on IE11+ just how can i access that ? or its not possible yet ?

[2018-03-20 20:32] duskload commented on #1
You can acces browserMajorVersion like this:

`
import { deviceDetect } from 'react-device-detect';

...
const device = deviceDetect();
...
    return (
      <div>
           // access major version
           {device.browserMajorVersion}
      </div>
    );
  }
}
`

[2018-03-21 07:16] #1 closed

[2018-03-26 10:17] SBRK opened #3 "Why is react in both the dependencies and peerDependencies?"
In dependencies there is react 16, and in peerDependencies react 14, 15 or 16. This is a potential problem and could pack two versions of react if people don't use react 16 in their app, no ?

[2018-03-28 14:36] ejbp opened #4 "Suggestion to add Smart-Tv's"
Would be nice if you could add detection and views for smart-tv's. Thanks

[2018-03-28 18:09] duskload commented on #3
It is. I've fixed this. Thanks for your report!

[2018-03-28 18:09] #3 closed

[2018-03-28 18:13] duskload commented on #4
I definitely want.

But for now, I don't have access to Smart TV to test it on.  But i hope i will have one, in a nearest future.

[2018-03-30 12:24] Fettabachi opened #5 "How to use properties"
How could I utilize `browserName` to return the browser being used?

[2018-03-30 17:33] duskload commented on #5
[code]

I can help you more if you provide more information what do you want to use it for.

[2018-03-30 19:10] Fettabachi commented on #5
I’d like to detect which browser is being used and add a class to the html
or app container like Layout-Engine
https://github.com/stowball/Layout-Engine

Thanks,
Tim

On March 30, 2018 at 1:33:33 PM, Michael (notifications@github.com) wrote:

import { browserName } from 'react-device-detect';

...
render () {
  if (browserName === 'Firefox') {
    return <div> {...content} </div>
  }
  return <div

[2018-04-06 15:59] duskload commented on #5
Sorry that it takes so much time for answer.

You can use this properties like: browserName, browserVersion (and every other which returns strings) and pass them directly to className prop like this:

[code]

and create css for each browser or browser version, like

[code]

And like this, for every browser or browserVersion if you want for them to have different styles.

[2018-04-06 16:01] #5 closed

[2018-04-09 08:32] GigiSan opened #6 "isIE = false on IE11"
It appears that on IE11 the variable isIE is set to false.
I tried this page on Chrome and Mobile and the respective variables changed accordingly, but not for IE11.

Am I doing something wrong?

Thanks in advance for your replies. Have a nice day ☺

Test with IE11:
![scr1](https://user-images.githubusercontent.com/22095380/38487593-0856091e-3be1-11e8-8e6c-973e9740127a.PNG)

Test with Chrome+Mobil

[2018-04-09 08:46] GigiSan commented on #6
Looks like "browserName" is correctly set to "IE" in this case so as an immediate solution I can test that. Wouldn't be bad if the bool would be fixed though. ☺

![scr4](https://user-images.githubusercontent.com/22095380/38488278-3d1241e8-3be3-11e8-9926-714c17d8d554.png)

[2018-04-09 10:24] Quadriphobs1 opened #7 "Working with screen resize"
I understand the package works and detect the screen when the page is loading but is there a way to also make the detection upon screen resize like when you use chrome inspect to change screen responsiveness. I have been trying to fix this async but don't seems to get maybe a little help would do

[2018-04-10 04:28] duskload commented on #6
I've fixed this. You can update package and check if it works.

Feel free to reopen the issue if problem persist.

Thanks for your report!

[2018-04-10 04:28] #6 closed

[2018-04-10 04:44] duskload commented on #7
Since detection is based on user-agent, it has to be loaded or reloaded to switch its type (mobile to browser or visa versa).

I think you can achieve this by adding an event listener on 'resize' to your application which catches change of window innedWidth and innerHeight and trigger component rerender with shouldComponentUpdate.

But for now, I am don't have plans for adding of such a feature to

[2018-04-10 04:44] #7 closed

[2018-04-14 05:57] duskload commented on #4
@ejbp Added smart tv support.
You can update your package and check it.

[2018-04-14 05:57] #4 closed

[2018-04-16 11:37] ejbp commented on #4
I will definitely do that. Thanks for the update!

[2018-05-11 18:04] ejbp commented on #4
I've tested with an webos LG smart tv and isSmartTV is returning false. Here is the output:

[code]

note: I'm running it inside an webos web app.

[2018-06-19 19:52] aolba opened #9 "isIE still show false"
I see there is a close issue about detection with IE and there was an update for that, But I'm not sure if there is something more I need. I have the same behavior with IE11. String is showing IE, but the Boolean display false.
This is the version I have "react-device-detect": "^1.4.5"

[2018-06-20 05:37] duskload commented on #9
@aolba
Can you please provide me a user agent of this IE11 browser?

[2018-06-21 05:19] duskload commented on #9
I've fixed this. Update the package and it will be available for you.

[2018-06-21 05:19] #9 closed

[2018-06-21 10:51] onuraltun opened #10 "typescript support"
there is not fully support for typescript. for example isChrome, browserVersion etc.

[2018-06-22 12:34] metju90 commented on #10
`TS2305: Module ''react-device-detect'' has no exported member 'isAndroid'. TS2305: Module ''react-device-detect'' has no exported member 'isIOS'.`

[2018-06-22 19:31] duskload commented on #10
Going to fix it soon

[2018-06-22 22:50] sandeeptharayilGit opened #11 "Why device is needed in props for view"
[code]
Why cant `BrowserView`/any view component check whether the device is browser / its respetive device internally so that the usage will be simple.
[code]

[2018-06-25 09:31] duskload commented on #11
Well, at that point of time it was a fast and working solution. I will refactor it in the future.

[2018-06-30 07:14] duskload commented on #11
Now views don't need a device prop.

[2018-06-30 07:14] #11 closed

[2018-06-30 07:15] duskload commented on #10
I've updated typings, you can update and check if it works for you

[2018-07-02 11:38] Svehla opened #12 "isBrowser is duplicated in index.d.ts"
`isBrowser` is declared two times in typecsript interface
So my compiler is unable to build:
`Cannot redeclare block-scoped variable isBrowser`

Thank you

[2018-07-02 11:58] h3mpti commented on #12
I created a pull request to fix this, please accept it and release a new version :-)
PR #13

[2018-07-02 12:33] duskload commented on #12
Thanks guys! Request accepted and released.

[2018-07-02 12:33] #12 closed

[2018-07-04 15:55] aolba commented on #9
Thanks for fix it.

[2018-07-15 19:51] jonjamz opened #14 "SSR Support"
Hi,

I don't see a way to pass a custom user agent string into this library but it seems like it should be straightforward since you are using UA Parser. Allowing for this would enable use in SSR.

See https://github.com/faisalman/ua-parser-js#using-nodejs.

If you are open to this idea, I would be happy to help with a PR.

Best,

Jon

[2018-07-16 10:47] duskload commented on #14
Sounds good. Will look into this issue in nearest future. If you can make a PR, I will accept it gladly

[2018-07-20 09:51] rorbla opened #15 "Xiaomi MI 6 detected as tablet"
<img width="174" alt="captura" src="https://user-images.githubusercontent.com/26737610/42996277-58afb108-8c13-11e8-8f00-42ecc79f4a9b.PNG">

[2018-07-24 18:43] duskload commented on #15
ua-parser-js needs update. Will do it soon.

[2018-07-24 18:43] duskload commented on #14
Can you make a separated repo with the code so I can have a look on it?

[2018-08-03 05:45] duskload commented on #15
Should work now.

[2018-08-03 05:45] #15 closed

[2018-09-21 18:53] duskload commented on #14
Closing the issue, since its implementation requires major application refactoring.
I will consider it to be a part of next big release.

[2018-09-21 18:53] #14 closed

[2018-11-28 13:44] EduardoHidalgo opened #17 "Doesn't Update UserAgent when device change without reload - testing with Google Device Toolbar"
Hi! I love your proyect, it's really useful and i grateful.

I use Google Device Toolbar when i need to test a responsive web page, so this tool change UA data in the air, and doesn't reload the web page when i change device.

In this context (and thinking about using "react-device-detect" as a way to detect when a page is resized) i need a way to update UA data of "react-device-detect", without r

[2018-12-04 11:02] duskload commented on #17
Was answering to the similar question in https://github.com/duskload/react-device-detect/issues/7

I think that working with resize is beyond the scope of this package.

[2018-12-04 11:02] #17 closed

[2019-01-23 22:08] GitDema opened #19 "Readme"
From **Readme.md**

[code]

[2019-01-24 20:03] duskload commented on #19
You've taken this out of context.

Full example looks like:
[code]
In case you use mobile device - show a message that content is not available on mobile, otherwise - show content.

I see nothing to make adjustments to.

[2019-01-24 20:03] #19 closed

[2019-02-06 18:20] Adonais0 opened #20 "tabletView and mobileView showing together on ipad"
I tested with ipad 2018, if the code is `<mobileView><img src="imageA"/></mobileView> <tabletView><img src="imageB"></tabletView>`, on ipad it will show both imageA and imageB.

[2019-02-07 05:11] yanv1991 opened #21 "this is crashing in SSR"
we are getting an error because the existence of window object is not validated

[2019-02-07 20:56] duskload commented on #20
@Adonais0 Can you please give me a UA of device?

[2019-02-14 17:37] RenoPoit commented on #20
@duskload Isn't it a normal behavior ? My understanding is that `MobileView` is designed to handle both tablets and mobiles.

@Adonais0 If you want to handle them separately, I think you should consider using `MobileOnlyView`.

[2019-02-15 05:53] duskload commented on #20
Thanks @RenoPoit, you are right.

@Adonais0 , if `MobileOnlyView` is not an option for you feel free to reopen this issue, with respective device user agent.

[2019-02-15 05:53] #20 closed

[2019-02-18 16:27] rlreamy opened #22 "Add a changelog or release notes"
As a developer I want to be able to understand what was changed with new releases available through npm so that I can understand what has changed and whether I need to update.  It is also hlpful to understand what kinds of breaking changes may have been introduced.

This can be achieved through either tagged releases or a changelog.

[2019-02-27 15:15] smschick opened #23 "Kindle Fire HD not identified as mobile/tablet"
![img_3211](https://user-images.githubusercontent.com/10112359/53498991-0cacac80-3a6d-11e9-942a-1b86266578d6.jpg)

![img_3213](https://user-images.githubusercontent.com/10112359/53500563-33201700-3a70-11e9-98a8-4fbd8e8b1053.jpg)

As shown in the attached screenshot I've tested on two Kindle Fire HD tablets and both have the same outcome.   isMobile/isTablet is false as the device type comes back a

[2019-02-27 16:05] smschick commented on #23
This seems to be detecting the kindle/silk browser well.  Might be a bit over-kill with all the various build versions, or missing some.

`const isKindle = () => {
  return !!(
    getUA.match(/Kindle/i) ||
    getUA.match(/Silk/i) ||
    getUA.match(/KFTT/i) ||
    getUA.match(/KFOT/i) ||
    getUA.match(/KFJWA/i) ||
    getUA.match(/KFJWI/i) ||
    getUA.match(/KFSOWI/i) ||
    getUA.match(/KFDO

[2019-03-07 21:35] CathyMacars commented on #21
I believe this would crash Gatsby as well, btw.
Adding `if (typeof window !== 'undefined') { ... }` should solve this.

[2019-04-25 15:29] Emiliano-Bucci opened #24 "SSR Support"
Hi! I saw a closed issue that was about implementing SSR detection: is there any updates on this? Thanks! :)

[2019-05-28 13:44] DNikolic-Paycor opened #25 "Samsung Note 3 (phone) and Lenovo Idea Tab3 - 7inch tablet not properly detected"
Hi!
Devices Samsung Note 3 (phone) and Lenovo Idea Tab3 - 7inch tablet are not properly identified on different web browsers :
Android Phone:
<Opera (Mini)> Samsung Note 3 was as expected.
<Firefox> Samsung Note 3 was not as expected. it was not detected as a phone.

Android Tablet:
<Chrome (default)>Lenovo Idea Tab3 - 7inch was not as expected. it was detected as a phone.
<Firefox> Lenovo Idea Ta

[2019-05-29 14:58] duskload commented on #25
Hi @kicaUBUNTU, thanks for your report.

Honestly, it's there is a lot of this devices which are not handled properly, and addition each of them is very cumbersome. For now, I consider add a method which you can pass your devices to, which in turns, help library to recognize them.

When I have some news about it, I would post update here, but I'm not sure it would be soon, since I have a lot of wo

[2019-05-29 15:00] duskload commented on #24
Hi @Emiliano-Bucci, thanks for your report! It's been a while, since I've planned to add support for SSR to library but I don't have time for this now. I will try to add it in the future.

I would gladly accept PR if you have thoughts on this.

[2019-05-29 15:03] duskload commented on #23
Hi @smschick, it's been a lot of this devices (which is not being recognized correctly), and I don't think it's a good way to add support to each and single one of them to the library.

I would consider how to make this process easier though.

[2019-05-31 10:10] kicaUBUNTU commented on #25
Hey @duskload thanks for response!

[2019-06-04 10:49] TimVanMourik opened #26 "fullBrowserVersion and browserVersion are swapped"
https://github.com/duskload/react-device-detect/blob/6cb36701ecbbc99b90e08ddc9b4e0c3d1a335297/src/components/helpers/selectors.js#L51-L52

The getBrowserFullVersion should return the version, not just major. And vice versa.

[2019-06-15 03:25] metacoding opened #27 "Suggestion: Please add isPortrait and isLandscape to props"
This package has many useful properties but unfortunately there is no way to detect the orientation of the mobile device.

[2019-06-24 22:27] guacamoli opened #28 "Crawlers vs. browser"
Hi, I currently have text animations on my website (showing only when the user scrolls to the element). However, if the content is being accessed by a crawler, I'd like to disable these animations for SEO purposes. I'm not sure if that is possible with this library and whether using `isBrowser` is enough? Any advice?

[2019-07-02 09:24] duskload commented on #28
Hi @guacamoli, unfortunately I'm not an expert in a questions of SEO and don't now how this library can help you with it. I'd suggest you to ask this question on stackoverflow.

[2019-07-02 09:24] #28 closed

[2019-07-03 03:55] movingelectrons opened #30 "how to trigger isMobile based on viewport size?"
I would like to cypress to test my views, it can set viewport size easily and its supposed to be able to set useragent but dosent seem to really work.  the viewport size is however changed, can I trigger ismobile to be true based on viewport size?

[2019-07-04 04:07] duskload commented on #30
Hi @movingelections, thanks for your report.

This package changes isMobile prop based on User Agent update, so here is no handle or hook to change it manually on viewport resize. You probably should use case media queries for this purpose, or add event listener to window resize and xhech is mobile there.

[2019-07-04 04:07] #30 closed

[2019-07-07 01:45] movingelectrons opened #31 "problem getting cypress tests to trigger isMobile"
Hello, Im not sure if this is a issue with react-device-detect, cypress, or my own fault, but I have this line in my cypress spec at the very top,

Cypress.config('user-agent', 'mobile')

it does not trigger isMobile when I run cypress.  I was able to get cypress to trigger isMobile with a cypress.json config file at root of project, with contents of

{
    "chromeWebSecurity": false,
    "baseUrl

[2019-07-15 20:00] gyerts opened #32 "typescript support"
I've just installed this app, and put next code into the test component
[code]
As result I have typescript compilation error:

I've tried to install `@types/react-device-detect` but there is no package found in npm repo

[2019-07-15 20:13] gyerts commented on #32
solved by adding option to typescript.json

[code]
Solution found here: https://github.com/Microsoft/TypeScript/issues/30108

[2019-07-15 20:23] gyerts commented on #32
I solved by adding a trick, which is temporary solution for testing your library
[code]
Now it works, any ideas how to solve this issue without tricks?

[2019-07-18 16:13] duskload commented on #26
Published.

[2019-07-18 16:13] #26 closed

[2019-07-18 16:22] duskload commented on #31
@movingelectrons,

What I see from `Cypress` documentation, you set a value `mobile` to `user-agent` property in config. Which isn't look like a valid mobile user-agent. Try to find a valid user-agent and set it to config.

[2019-07-18 16:22] #31 closed

[2019-07-18 16:23] duskload commented on #32
Hi @gyerts, thanks for your report.

I will have a look on this typings issue.

[2019-07-18 16:35] duskload commented on #22
Hi @rlreamy , thanks for pointing this out!

Will work on it from now.

[2019-07-18 16:35] #22 closed

[2019-07-18 19:24] duskload commented on #32
@gyerts , updated and merged.

[2019-07-18 19:24] #32 closed

[2019-07-22 18:31] fhelmi opened #34 "please add function that returns the device type"
Instead of returning the object with the value key of the device set to true, please create a function that would just return the device type as a string.

ex: returnDeviceType();

-> 'isMobile' or Mobile of whatever.

[2019-07-24 14:24] duskload commented on #34
@fhelmi, Done. You can access it by importing `deviceType`

[2019-07-24 14:24] #34 closed

[2019-07-26 01:46] movingelectrons commented on #31
Do you mean

Cypress.config('user-agent', "Mozilla/5.0 (Linux; Android 6.0.1; SM-G532G Build/MMB29T) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.83 Mobile Safari/537.36")

?  I tried that right after I tried just setting it to 'mobile'.  I guess I should have mentioned that ... same problem however.

[2019-08-01 06:54] alimot22 opened #36 "Detect mac"
Hi,
I was checking the document, but nowhere mentioned about detecting the Mac.
Do you support this feature?

[2019-08-01 13:31] duskload commented on #36
Hi @alimot22 ,

Importing `osName` should help you with it.

[2019-08-01 13:31] #36 closed

[2019-08-20 13:33] freitasgustavos opened #37 "Build error with GastbyJS"
I am running react-device-detect along with [GastbyJS](https://www.gatsbyjs.org) and when I generate the project build for production react-device-detect stops working.

[2019-08-29 11:14] #37 closed

[2019-09-03 09:06] duskload commented on #24
Duplicate of #21.

[2019-09-03 09:06] #24 closed

[2019-09-05 07:58] duskload commented on #21
Can't reproduce this one. If you still have this error please provide a reproducible example, for example, here https://codesandbox.io.

Feel free to reopen the issue then.

[2019-09-05 07:58] #21 closed

[2019-09-05 08:03] robhung opened #38 "In-App Safari"
Is there a way to differentiate MobileSafari and In-App Mobile Safari?

While they are supposed to be the same browser, In-App Mobile Safari currently [doesn't support WebRTC](https://bugs.webkit.org/show_bug.cgi?id=183201) so I'm needing to re-direct users to use the actual Mobile Safari app.

[2019-09-05 17:06] duskload commented on #38
Hi @robhung. What is in-app mobile safari? Could you provide boh browsers user agents?

[2019-09-06 04:38] robhung commented on #38
The browser that's used inside other apps, eg. Mail, Facebook, Slack, etc. Similar to [this issue](https://github.com/fnando/browser/issues/179). I think the share the same user agents, but the thread I linked in my original post shows they can exhibit different behaviour.

Slack iOS: Mozilla/5.0 (iPhone; CPU iPhone OS 12_3_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.1.1 M

[2019-09-09 18:10] AndradeB91 opened #39 "Typescript support"
Module '"react-device-detect"' has no exported member 'deviceDetect'. I need this function exported for typescript.

[2019-09-10 05:28] stepanushariara opened #40 "Do you have DesktopView ?"
I think you need to add Desktop View.
But for now, do you have any idea to handle on desktop view ?
because when i use BrowserView then in MobileView and tablet TabletView doesnt rendered.

[2019-09-12 14:57] duskload opened #44 "Add docs for withOrientationChange"
#27

[2019-09-12 14:58] duskload opened #45 "Add types for withOrientationChange"
#27

[2019-09-12 15:15] #45 closed, assigned to nobody

[2019-09-12 15:15] #44 closed, assigned to nobody

[2019-09-12 19:57] Sbphillips19 opened #47 "Ua-parser-js pipeline error"
`./node_modules/react-device-detect/main.js
Cannot find module: 'ua-parser-js/dist/ua-parser.min'. Make sure this package is installed`

I am getting this issue when I am running my pipeline and it just started today right after this commit-

900082e162159bd8c9496709f8e20e0e3bc6e27f

I am not sure what would have caused it in the commit as there were no changes to the package.json other than the v

[2019-09-12 23:34] #47 closed, assigned to nobody

[2019-09-13 13:49] duskload opened #50 "Detect electron"

[2019-09-18 08:05] #40 closed

[2019-09-22 11:52] manemmao opened #51 "Generic type ReactComponentElement error"
throw typescript error with latest packages below;

- "react-device-detect": "^1.9.9",
- "@types/react": "16.9.2",

`ERROR in ..../node_modules/react-device-detect/index.d.ts
ERROR in .../node_modules/react-device-detect/index.d.ts(75,53):
TS2707: Generic type 'ReactComponentElement<T, P>' requires between 1 and 2 type arguments.`

it could be ok just adding `<any>` to line 75 of index.d.ts

[2019-09-23 19:37] duskload commented on #51
@manemmao, Thanks for your report! The issue is fixed and deployed.

[2019-09-23 19:37] #51 closed

[2019-10-02 18:06] boryslee111 opened #53 "How can I use this module for server side rendering?"
Hi
Thanks for your module.
This is a small and useful module for the React frontend.
But I can't use this module for server-side rendering.
I think if we can use this module for server-side rendering, this module will be more useful and grateful.
we can analyze request user agent string on the server-side.
I think internal functions will be exported to analyze user agent in this module.
what about

[2019-10-05 10:12] novonimo opened #54 "SSR device detection is not working"
I'm using react-device-detect in next.js (react SSR) but it doesn't work.

There are some closed issues about SSR in the repo but I think it isn't implemented yet.

next version: 9.0.5
react-device-detect:  1.9.10

[2019-10-05 19:40] duskload commented on #54
Hi @novonimo , can you share a "not working" example with me? Maybe in separeted repo?

I just bootstrapped a next.js quick start app connected with "react-device-detect" and it seems work fine.

[2019-10-05 19:42] duskload commented on #53
Hi @boryslee111, can you share an example of ssr app with a react-device-detect not working?

[2019-10-06 05:13] adamsoffer commented on #54
I can confirm I'm also getting an issue using this library with ssr. I'm using next.js v9.0.5. The error I'm seeing:
[code]

[2019-10-06 08:31] duskload commented on #54
Hi @adamsoffer , can you share a code snippet how you use ‘rdd‘ in next.js?

[2019-10-06 08:33] duskload commented on #53
Gonna close this issue as duplicate of #54 where I plan to work on SSR.

[2019-10-06 08:33] #53 closed

[2019-10-30 16:02] samuelint opened #55 "iPad iOS 13 not detected as tablet"
Since iOS 13 browser is declared as a desktop browser, isTablet and even isIOS do not work properly on iPad.

This guy use a different algorithm to detect iPad https://stackoverflow.com/questions/58019463/how-to-detect-device-name-in-safari-on-ios-13-while-it-doesnt-show-the-correct .

would it be possible to implement this for `isTablet`?

Thank you

[2019-11-07 09:11] christianfredh commented on #14
Lib looks very nice to use, but we need to use SSR. SSR still not supported?

[2019-11-07 09:14] christianfredh commented on #14
Found this, so linking here to answer my question:
https://github.com/duskload/react-device-detect/issues/54

[2019-11-07 09:28] christianfredh commented on #54
Is there an example somewhere using this library with SSR?

[2019-11-08 08:24] elenapavel opened #56 "withOrientationChange"
I would suggest to add `...this.props` to the WrappedComponent used in `withOrientationChange.js` or at least add `{props.children}` as content.

[2019-11-08 09:45] DragonBlack commented on #54
Hi @duskload.
You use UAParser module for parsing User-Agent which use object "window" for get User-Agent. But on SSR "window" object is undefined.
Try disable JavaScript on browser and run this code:
[code]
You will see "none", but with enabled JS you will see your browser name.
P.S. Sorry for my English

[2019-11-24 13:05] benjidotdev opened #57 "deviceType doesn't return anything"
`deviceType ` doesn't seem to return anything

[2019-11-28 05:56] duskload commented on #57
Hi @benjidotdev, can you share a UA on which you get nothing from deviceType?

[2019-11-28 06:58] duskload commented on #57
You can check now, should be no empty `deviceType`. Otherwise - attach a UA string if issue persist

[2019-11-28 06:58] #57 closed

[2019-11-28 06:59] duskload commented on #56
@elenapavel Sorry for taking it so long. Added a fix, already released - you could check it now.

[2019-11-28 06:59] #56 closed

[2019-11-28 07:02] duskload commented on #55
@samuelint

I've added a couple of methods, it should be working now but it needs to be tested.

New methods are:

`isIOS13`
`isIPad13`
`isIPhone13`
`isIPod13`

Please tell if it's actually worked. Thanks!

[2019-11-28 07:47] #50 closed

[2019-11-28 08:23] stzonis opened #60 "Gatsbyjs: "navigator" is not available during server side rendering"
Hi,
This library was working with gatsbyjs (1.9.10) until the last version (1.11.11). I am getting now this error:

failed Building static HTML for pages - 5.562s
 ERROR #95312
"navigator" is not available during server side rendering.
See our docs page for more info on this error: https://gatsby.dev/debug-html

  416 |
  417 | var getIOS13 = function getIOS13() {

      | ^
  419 | };
  420 |
  4

[2019-11-28 08:33] duskload commented on #60
Hi @stzonis, I will look on it shortly. Thanks!

[2019-11-28 08:54] duskload commented on #60
@stzonis, uploaded a fix, can you update and have a look?

[2019-11-28 09:04] Fluorz commented on #60
Same error here

[code]

[2019-11-28 09:06] stzonis commented on #60
With the version "1.11.12", I am still getting the error:

failed Building static HTML for pages - 5.220s
 ERROR #95312
"navigator" is not available during server side rendering.
See our docs page for more info on this error: https://gatsby.dev/debug-html

  421 |
  422 | var getIOS13 = function getIOS13() {

      | ^
  424 | };
  425 |
  426 | var getIPad13 = function getIPad13() {

  WebpackErr

[2019-11-28 09:16] duskload commented on #60
Add another update. If it's not working - try clear cache, for gatsby do something like:

`rm -rf node_modules && rm -rf ./cache && npm i && gatsby build && gatsby develop"

[2019-11-28 09:42] PMhee commented on #60
I'm using version 1.11.13 but it is still bugging.
PS. I have tried to clean and clear cache already but it is not working

[2019-11-28 10:43] gurkerl83 commented on #60
I also confirm that in react-device-detect, version 1.11.13 navigator is not available. I`m using Nextjs, also server side rendered.

[2019-11-28 11:09] SakshiSharma95 commented on #60
it is not working when we are downgrading to a version . Please make sure whenever a new version is added it should not affect the previous version

[2019-11-28 11:55] gurkerl83 commented on #60
The last working version is 1.9.10.

[2019-11-28 12:52] duskload commented on #60
@gurkerl83 , @SakshiSharma95 , @PMhee , updated package. Please verify if issue still persist

[2019-11-28 15:11] stzonis commented on #60
@duskload version 1.11.14 works for me!

[2019-11-28 16:52] elswenson commented on #60
@duskload Thank you for the quick fix and responsiveness!

[2019-11-28 18:14] duskload commented on #60
Thanks guys!

[2019-11-28 18:14] #60 closed

[2019-11-29 10:01] #55 closed

[2019-11-29 10:02] duskload commented on #54
Is issue still reproduces after last update?

[2019-12-02 11:54] duskload commented on #54
Check on version 1.11.14.

If issue is still relevant - reopen an issue or create new one.

[2019-12-02 11:54] #54 closed

[2019-12-03 20:51] guntherkoo commented on #55
@duskload : Does this not work on iOS simulator version of iPad 12.9inch? Thanks!

[2019-12-05 13:00] chontawee opened #63 "navigator is not defined"
When I start my app which use lib in latest version (1.11.14), I found error `navigator is not defined`. I think the problem is in `main.js` file.
`var getNavigatorInstance = function getNavigatorInstance() {
  if (typeof window !== 'undefined') {
    if (window.navigator || navigator) {
      return window.navigator || navigator;
    }
  }
`
I try to remove it from node_modules then it's work. Bu

[2019-12-06 17:06] duskload commented on #63
@chontawee , that's strange. Are you using SSR? On what kind of device or browser do yo get this error?

[2019-12-07 13:48] chontawee commented on #63
I used SSR. Are there any way to use this lib?

[2019-12-11 12:48] duskload commented on #63
@chontawee What do you use for your SSR? (e.g gatsby, next.js or some custom SSR instead)

[2019-12-14 11:24] hrahimi270 commented on #54
@duskload I checked with the latest version (1.11.14) in a Next.js project.
I think the problem is that the detection not working on the initial request (hard reload of page).
But after updating dom (on client-side with React) it works.

[2019-12-26 21:56] JaLe29 opened #65 "Is there any way how to push user agent to mobile list ?"
I am using Apache Cordova (in short my custom web browser) with user agent (`User-Agent: "this is my mobile app"`) and problem is that `import {isMobile} from 'react-device-detect'` returns false for my app (it`s running on android).

Is there any way how to push my UserAgent into library list? It should return `true` because its running on adroid - but with unknown user agent... :-)

Any tips?

I

[2019-12-29 10:02] duskload commented on #65
@JaLe29 not yet. But I planning to add such feature in the future

[2020-01-03 16:27] kid-three commented on #54
So, is this working and reliable?

[2020-01-07 21:10] SandroFernandes opened #67 "Brave is detected as Chrome"
Hi ,
There's no way to distinguish Chrome from Brave, both return same browser name.
Saw some articles about finger printing brave , so it hides on chrome name.
Is there a way to see the difference ?

[2020-01-08 13:05] thsnyzkn commented on #63
I am using next.js and it seems that isIE function seems to be not working. Thanks in advance.

[2020-01-08 14:08] duskload commented on #67
@SandroFernandes , can you provide a brave browser user agent?

[2020-01-17 09:08] duskload commented on #67
For now *Brave* detected as Chrome because they didn't add Brave to user agent. When they do this, it will be possible to detect Brave as a separated browser.

Closed so far.

[2020-01-17 09:08] #67 closed

[2020-01-23 15:00] ronenmagid opened #68 "isMobileOnly = FALSE with all width 414 phones (like iPhone Xr, 11 Pro Max)"

[2020-01-23 15:13] #68 closed

[2020-01-23 15:13] ronenmagid commented on #68
no issue - this is a chrome devtool issue I had.

[2020-01-29 14:50] bocodigital opened #69 "This no longer works on iOS"
When testing a device in a hybrid app via xcode the deviceType returns as browser even though it is a native ios app.

[2020-01-30 15:55] duskload commented on #69
@bocodigital, can you share a this hybrid app user agent?

[2020-01-30 15:58] bocodigital commented on #69
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15) AppleWebKit/605.1.15 (KHTML, like Gecko)

[2020-01-30 15:59] bocodigital commented on #69
It's pretty well documented as something Apple just randomly decided to change. My workaround was to use Ionics native device plugin.

[2020-02-05 18:39] zeckdude commented on #54
This is still not working. Other libraries such as https://github.com/kaimallea/isMobile#use let you specify the useragent on the server-side.

[2020-02-17 10:25] fawad-khalil-lunchon opened #71 "Issue on IE"
I am getting includes is not a function on IE due to this module. How can I use CommonJS version of it or atleast make it compatible to IE? I am using NextJS v8.1.0 and react-device-detect v1.6.2.

[2020-02-21 13:49] cohancarpentier commented on #71
Not related to this library, but if you just need to detect IE here's what I did:

[code]

[2020-02-24 09:16] duskload commented on #71
@fawad-khalil-lunchon , thanks for your report. I will rewrite this to make it compatible with IE.

So far you can use polyfill for supporting `includes` on IE.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/includes#Polyfill

[2020-02-25 12:58] mesutpiskin opened #72 "Jest unit testing mocking isMobile"
Hello, I developed an React application using the this package.
While writing the test code but my test didnt coverage the code because isMobile = false. How do I mock isMobile.

![Screen Shot 2020-02-25 at 15 57 26](https://user-images.githubusercontent.com/3519662/75249542-8d6cc880-57e7-11ea-9e0f-d35eda19158b.png)

my test code
[code]

[2020-02-26 07:21] xfishernet opened #73 "bug: isLandscape false in safari desktop mode"
isLandscape false in safari desktop mode.

[2020-02-26 14:59] ekelvin opened #74 "Vulnerability issue with the dependency ua-parser-js: 0.7.21"
Vulnerability issue with the dependency ua-parser-js: 0.7.21
![image](https://user-images.githubusercontent.com/6638327/75356816-5a3e3e00-58a8-11ea-8dbd-587068dfcc3e.png)

[2020-03-02 08:32] czco opened #75 "SSR device detection is not working [continued]"
[This issue](https://github.com/duskload/react-device-detect/issues/54) is still relevant. We've created a demo repo so you its easy to test  https://github.com/czco/next-isMobile-ssr

[2020-03-02 08:33] czco commented on #54
Not sure why this was closed. I've created a new issue here with a sample repo [Issue #75 ](https://github.com/duskload/react-device-detect/issues/75)

[2020-03-03 19:54] duskload commented on #71
Thanks @jtemplej for PR, issue will be available as soon as I update package (I think it will be in a couple days from now)

[2020-03-03 19:54] #71 closed

[2020-03-03 19:55] duskload commented on #73
Hi @xfishernet , can you share a safari user agent string? Also, is this mobile safari, right?

[2020-03-03 19:55] #23 closed

[2020-03-03 19:56] #25 closed

[2020-03-03 19:56] duskload commented on #63
Closing in favor of #75

[2020-03-03 19:56] #63 closed

[2020-03-03 19:59] duskload commented on #75
@czco Thanks! I will have a look as soon as I have time (till the end of this week)

[2020-03-03 20:00] duskload commented on #74
@ekelvin , Thanks. I will update dependencies.

[2020-03-04 12:00] aquinq commented on #72
I faced the same problem using

[code]

The following worked for me :

[code]

[2020-03-26 13:55] pratik-walkhade opened #78 "Are you going to add a support for handling Client Hints"
As Google has announced that they are going to deprecate UA(User-Agent) Strings and they will replace it with Client Hints. So are you going to add support for Client Hints as well?

[2020-04-06 13:44] chepicov opened #79 "withOrientationChange HOC does not work properly on iPad iOS 13"
`isLandscape` and `isPortrait` properties always return false.

User-agent: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.1 Safari/605.1.15`

[2020-04-06 13:53] GAUTAMRAJU15 opened #80 "doesn't work on ipad safari browser"
i have tried **isMobile** as well as **isTablet** properties , on safari, it's always false, but on chrome it's true on ipad

[2020-04-06 14:08] chepicov commented on #80
I've fixed with #55
e.g. `const tablet = (): boolean => isTablet || isIPad13`

[2020-04-06 14:25] chepicov commented on #55
@duskload why not to add `isIPad13` to `isTablet` selector?

[2020-04-06 15:22] chepicov commented on #79
This is because of `isMobile` check here, which doesn't work correctly for iPad on iOS 13:
https://github.com/duskload/react-device-detect/blob/27e1b838c9e2eea635a7f1ceefb03feb8a666d4d/src/components/helpers/withOrientationChange.js#L43

Possible solution:
https://github.com/chepicov/react-device-detect/commit/a07e84e97698740b39393eca5fc35caea26bc587

[2020-04-07 13:24] Keatooon opened #82 "Huawei Devices are not returning mobileVendor and mobileModel"
console.log("mobileVendor", mobileVendor);
    console.log("mobileModel", mobileModel);

These 2 fields are returning "none" on Huawei Mate 20 Pro

Get UA is able to return this: getUA Mozilla/5.0 (Linux; Android 10; LYA-L29) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Mobile Safari/537.36

[2020-04-13 17:41] jatinvmehta commented on #75
@duskload - Was there any update on this ?

[2020-04-22 11:33] manemmao opened #83 "osName enums"
I think its better to add osName enumsto docs.
By now just two of os name enums are specified in docs:
`returns os name (e.g Windows, Android)`
In my case I should send to server specific enums based on OS and need to know exactly what os names should I expected from this method to add to my local switch.

[2020-04-25 12:29] duskload commented on #82
UAParser.js doesn't return model and vendor for a given mobile, you can check this http://faisalman.github.io/ua-parser-js/. Since I use `ua-parser-js` under the hood - it kind of expected. Even though it's clear that `LYA-L29` in UA string is a Huawei model, I'm not going to add check specifically for this model (because in this case, I would have to add manually some models for other phones, whi

[2020-04-25 12:29] #82 closed

[2020-04-25 12:31] duskload commented on #75
@jatinvmehta Sorry. Don't have much time for this package, due to high load on the other projects and work. If you have a solution, `PR` is always welcome.

[2020-04-25 12:33] duskload commented on #83
Hi, @manemmao. I actually was planning to export enums, but I don't know when I going to have time for this.

[2020-04-25 12:35] duskload commented on #78
Hi @pratik-walkhade. I'll investigate it, but I'm not sure it will be a part of this package. Most likely, it will be a separated one.

[2020-04-25 12:48] #74 closed

[2020-04-25 12:52] duskload commented on #80
@GAUTAMRAJU15, can you check please if it still relevant after last update?

[2020-04-26 08:15] duskload commented on #79
Thanks @chepicov , should work now.

[2020-04-26 08:15] #79 closed

[2020-04-26 08:16] #80 closed

[2020-04-26 08:16] #73 closed

[2020-04-28 05:16] GAUTAMRAJU15 commented on #80
actually when i removed isIPAD13 it didn't work
```isTablet || isIPad13``` this  works,
i guess that PR didn't help

browserFullVersion
:
"13.0.1"

browserName
:
"Safari"
engineName
:
"WebKit"

engineVersion
:
"605.1.15"

osName
:
"Mac OS"

osVersion
:
"10.15"

[2020-05-06 09:20] NimaKaviyani commented on #75
Anyone know another package for mobile and desktop detection?

[2020-05-12 09:35] wisnuvb opened #87 "Is it possible to detect our device being accessed on a native device or desktop browser in mobile mode?"
I want to know if it is possible to find out the device that accesses us is a native phone or browser with mobile mode. If it can be known that we will be extraordinary. Thanks

[2020-05-21 14:02] ShaneYu opened #88 "isIE always true for Chrome and Brave browsers"
For some reason isIE is always true when imported in typescript for my react application when the browser is Chrome or Brave.

My User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Safari/537.36
Package Version: ^1.12.1

[2020-05-23 10:58] PaulPCIO commented on #65
This will be especially helpfull with SSR https://github.com/duskload/react-device-detect/issues/75

[2020-05-23 11:11] PaulPCIO commented on #75
@NimaKaviyani this should work fine using the user-agent in the req headers
https://github.com/hgoebl/mobile-detect.js

[code]

[2020-05-23 11:44] PaulPCIO commented on #75
having a deeper look, you can use the same solution but instead with the same lib that `react-device-detect` is using, it would be better to leverage the [`ua-parser-js`](ua-parser-js) package by looking at the npm [trends](https://www.npmtrends.com/ua-parser-js-vs-mobile-detect)

The best solution though would be to enable a manual user-agent setter in the [`get-ua-data.js`](https://github.com/du

[2020-05-23 12:59] PaulPCIO commented on #75
Anyone interested in a solution using `react-device-detect` i have added a userAgent argument to the [deviceDetect function](https://github.com/PaulPCIO/react-device-detect/blob/fd2ea71bc4867385ade7215788468303926f97a3/src/components/helpers/detect.js#L4-L7), which in turn leverages a [serverUA helper](https://github.com/PaulPCIO/react-device-detect/blob/fd2ea71bc4867385ade7215788468303926f97a3/sr

[2020-05-28 23:18] cgadam opened #89 "Detect Facebook In-App browser"
It would be nice to be able to detect Facebook in-app browser.

[2020-05-29 00:16] cgadam commented on #89
Actually there's an open issue that needs to be solved in the dependency before this one can be actually addressed: https://github.com/faisalman/ua-parser-js/issues/421

[2020-06-02 04:33] duskload commented on #87
@wisnuvb, I don't get it what you need. Do you need to detect that user runs your site from a mobile device, but not a 'mobile' simulation in a browser?

[2020-06-02 04:38] duskload commented on #89
Hi @cgadam, is that user agent mentioned in ua-parser.js issue is the same as you have? Can you share yours?

[2020-06-02 04:41] duskload commented on #72
Thank you guys. That's actually the best option I've came up with myself. Will add this to docs. Feel free to reopen the issue if you have some questions.

[2020-06-03 13:22] ppsirius opened #90 "Browser support"
I try to use this lib in React app but got an error with "includes" on IE 11.
It will be good to know what browsers you support to avoid that kind of situation or transpile to older version.
Most people I think exclude node_module from transpilation so better to know what exactly library support.

[2020-06-03 18:34] michaelnyu commented on #75
nice find @PaulPCIO !

[2020-06-04 04:12] wisnuvb commented on #87
@duskload, Correctly. I mean like that. Is that possible?

[2020-06-04 06:54] duskload commented on #90
@ppsirius , what version of package do you use? All `includes` was rewritten to `indexOf` a while ago. Try update the package to @latest version.

[2020-06-04 09:00] ppsirius commented on #90
I was using older version 1.11.14 :|
But it will be great that babel use browserlist for example from package.json

I don't know how exactly @babel/preset-env rollup plugin works but in webpack by default read that kind of thing from package.json.
`  "browserslist": [
    ">0.2%",
    "not dead",
    "not ie < 11",
    "not op_mini all"
  ],`
Then you are sure that compatibility js features be han

[2020-06-05 20:58] duskload commented on #87
@wisnuvb I think it's possible. But I don't have time now for investigation and implementation of this. I will accept PR thought

[2020-06-07 07:32] wisnuvb commented on #87
Thanks @duskload

[2020-06-07 07:32] #87 closed

[2020-06-15 07:01] duskload commented on #88
@ShaneYu Can't reproduce this bug on given user agent, for chrome and brave browsers. Is this bug still relevant

[2020-06-15 07:27] #72 closed

[2020-06-16 07:36] ShaneYu commented on #88
I’ve removed it completely and re-added the latest version. After doing that, it’s started working. Had some very odd behaviour, wonder if it didn’t install properly the first time or something.

Apologies for wasting your time, but thanks for the quick response. I am now using it will success doing what I needed to do all along.

Thanks for the package, it’s very useful! 🙂

[2020-06-16 07:36] #88 closed

[2020-06-16 07:45] duskload commented on #88
@ShaneYu No problem, and thanks! Feel free to open an issue if you have some problems.

[2020-06-23 09:20] martinboksa opened #92 "Detect Search Crawlers"
Would be a nice feature to detect search bots/crawlers ?

Probably not all of them but some popular could be enough ( https://udger.com/resources/ua-list/crawlers )

[2020-07-08 09:14] ha-ku commented on #75
Any update?

[2020-07-16 09:17] avshalomt2 opened #94 "Edge-Chromium 83 isn't being detected"
See here: https://n8wx0.csb.app/
In Edge 83 (Chromium-based), this is the output:

[code]

isEdgeChromium should be true, isLegacyEdge should be false, and I think that isChromium should be true as well, since it's a Chromium-based browser (as stated in it's about page).
Starting from Edge 79, it is Chromium based.

[2020-07-16 09:37] avshalomt2 commented on #94
On Windows 10 it seems to behave differently:
![image](https://user-images.githubusercontent.com/47110179/87655569-1b2e5d80-c761-11ea-85d4-2617a094e1b7.png)

[2020-07-17 22:14] michaelmior commented on #20
I had this experience as well. It would be helpful to include a note on this in the README when the example with `BrowserView` and `MobileView` is shown. The way the example is written gave me the impression that the two were opposites.

[2020-07-22 14:51] pompiamp opened #95 "iOs 14 - anyone tried?"
Hi,
Has anyone tried with an iPad / iPhone 14 Beta?

Will the device appears as in isIPad13 ?

Thanks

[2020-07-22 19:39] pompiamp commented on #95
We've tried in an iPad running 14.0 (18A5319i)

isIPhone13 = true
isMobileOnly = false

[2020-07-25 08:12] mrgoonie commented on #89
This can be a reference: https://github.com/f2etw/detect-inapp/blob/master/src/inapp.js

[2020-07-29 15:12] edhenderson opened #96 "isTouch"
Fantastic repo, thank you.

Wondering if there is a suggested method to emulate an `isTouch` type scenario. My best guess so far based on your entry points is something like?

[code]

Thank you in advance.

[2020-08-03 00:48] andrewpaulino commented on #96
I am assuming you are referring to something like [https://stackoverflow.com/questions/7838680/detecting-that-the-browser-has-no-mouse-and-is-touch-only](this) right? It seems media queries in CSS4 are a cool way of doing that. As of right now, I do not believe you can really tell from the browser besides formulating your own solution.

[2020-08-03 07:42] bit-captain opened #97 "Mobile keyboard caused orientation bug"
So the orientation worked fine on most of the mobile phone but there is some mobile that caused viewport to change when user tried to type something and their keyboard popup for example input box then it created a bug . Could you please fix this issue pls?

[2020-08-03 08:54] edhenderson commented on #96
Yes, something like. I was thinking similar, thanks for taking the time to reply.

[2020-08-03 08:54] #96 closed

[2020-08-04 09:28] zeing commented on #75
Support already ?

[2020-08-12 09:46] saranshgrover commented on #39
The return type for `deviceDetect` function is `any`, Is it possible to make this a defined type?

[2020-08-19 22:04] alex-cory opened #99 "isMobileSafari giving true when in Chrome on Macbook"
![image](https://user-images.githubusercontent.com/5455859/90694292-3fcc9800-e22d-11ea-980d-982d82e795d3.png)
Looks like it might actually be a problem with `isSafari` because when in chrome, it shows `true`
![image](https://user-images.githubusercontent.com/5455859/90694511-976b0380-e22d-11ea-93ac-a0b2ac46a427.png)

[2020-08-22 18:45] jamesryan-dev opened #100 "Missing html when used with next.js"
Any component that is wrapped with this upon render console errors:

`Expected server HTML to contain a matching <html> in <html>`

Whereby `<html>` is different elements dependent upon component..

So in this instance it's

```Expected server HTML to contain a matching <label> in <section>```

Here's an example in which I've attempted to use this tool:

[code]

[code]

Above whilst incomplete fil

[2020-08-23 07:34] blueturtle13g opened #101 "TypeErro: undefined is not an object ( evaluating 'nav.userAgent.toLowerCae')"
I get this error as I try to run it on my react native application on ios!

"react-native": "0.62.2"
react-device-detect": "^1.13.1"
macOs: catalina

[2020-08-23 18:54] alex-cory commented on #99
Mozilla/5.0 (iPhone; CPU iPhone OS 13_2_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.3 Mobile/15E148 Safari/604.1

[2020-08-24 09:59] duskload commented on #101
@blueturtle13g React Native support hasn't been added yet.

[2020-08-24 10:16] duskload commented on #99
That's an iPhone user agent.

You might be switching it with some extension, for example?
You can get current user agent of chrome browser from console with `window.navigator.userAgent`

For example I have the following user agent of my mac:
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.135 Safari/537.36

[2020-08-24 10:19] duskload commented on #97
@bit-captain What exactly is the bug here? Showing keyboard on mobile device when you interacting with input fields is a common behavior and can be handled from your code (showing hiding the keyboard)

If you still believe it's a bug please provide some reproducible example of it.

[2020-08-25 22:35] ZedLove opened #102 "isIOS13Check results in false positives"
Testing `isIOS13` in iOS Simulator using an iPhone running iOS 12 returns `true`. Please see the screenshot attached.

For some reason, `isIOS13Check` does not appear to take into account the version number as reported by other utilities such as `fullBrowserVersion` and `getUA`.

<img width="446" alt="Screenshot 2020-08-25 at 6 32 01 PM" src="https://user-images.githubusercontent.com/1074023/91234

[2020-08-26 17:14] swannknani commented on #99
You're using chrome dev tools in mobile.
Click on the top left blue mobile icon on your chrome window to switch back to the desktop view.

<img width="454" alt="Screenshot 2020-08-26 at 18 13 07" src="https://user-images.githubusercontent.com/1637657/91335127-e386ec80-e7c7-11ea-9dd8-e916f1ff979a.png">

[2020-08-26 20:51] alex-cory commented on #99
shouldn't it work on mobile view?

[2020-08-27 08:02] swannknani commented on #99
Yes it works, and you are emulating an `iPhone X` that's why it return `isSafari=true`...

[2020-08-27 16:05] alex-cory commented on #99
oh duh

[2020-08-27 16:05] #99 closed

[2020-08-31 13:55] ZedLove commented on #102
Noticed the first screenshot did not properly include the value of `isIOS13`, so I'm including another screenshot illustrating iOS Simulators on iOS 11, 12 and 13 all reporting `isIOS13 === true`.

<img width="1396" alt="Screenshot 2020-08-31 at 9 51 17 AM" src="https://user-images.githubusercontent.com/1074023/91727317-86948900-eb6f-11ea-9816-b5d4e95e58c7.png">

The screenshots are rendering a pa

[2020-09-03 17:41] tadejmagajna opened #103 "Testing using using the approach described in README doesn't work with <BrowserView>"
Testing using the approach described in README where we:

    import * as rdd from 'react-device-detect';
    rdd.isMobile = true;

doesn't really work with the `<BrowserView>` component. In tests where I use `jest`, regardless of whether I set `isMobile` to `true` or `isBrowser` to `false`, tests will always render like a non-mobile browser.

I had to write my own component that uses the `isBrows

[2020-09-05 08:39] duskload commented on #103
@tadejmagajna I see the problem now. Will think on how to resolve it

[2020-09-07 15:22] kimfucious opened #104 "Detect when browser is using Incognito or Private Browsing mode"
It would be awesome if you could add a feature that allows for the detection of incognito (chrome) or private browsing (firefox) or whatever for other browsers to this awesome package.

🌮 !

[2020-09-09 10:23] rockyrockstars opened #105 "BrowserView and MobileView not working in my react application?"
When i use browser view and mobile view in my react application it works fine on my localhost but it doesn't work when i deploy my website with firebase .Why is it happening?

[2020-09-15 06:08] jiikko opened #106 "isMobileSafari returns true when in Chrome on iPadOS(iOS13)"
https://github.com/duskload/react-device-detect/pull/85

https://github.com/duskload/react-device-detect/blob/7153b078b1d95cb5c4ec6c3f04fe0a8b107925ca/src/components/helpers/selectors.js#L78

at least `isMobileSafari` returns true when in `Chrome on iPadOS(iOS13)`.
I think that `isMobileSafari` will return true with all browser on `iPadOS(iOS13)`.

[2020-09-15 09:37] duskload commented on #97
Closing the issue, please feel free to reopen this or file another issue, but provide reproducible example of it.

[2020-09-15 09:37] #97 closed

[2020-09-15 09:40] duskload commented on #90
Right now application should support all browsers, if it's not - feel free to file an issue with example.

[2020-09-15 09:40] #90 closed

[2020-09-15 09:41] duskload opened #107 "Add React Native support"

[2020-09-15 09:42] duskload commented on #101
React Native support will be added in #107.

[2020-09-15 09:42] #101 closed

[2020-09-24 06:03] riteshpakala commented on #106
Hey @jiikko,

That is correct. All browsers on iOS are built using safari's web engine. Chrome is a wrapper over safari (webkit) on iOS that is all.

[2020-10-01 17:53] a-lchen commented on #94
Hi there! We've run into this same bug, except with Edge 84. This string is detecting as Legacy Edge:

Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.125 Safari/537.36 Edg/84.0.522.59

Changing windows to window 10 seems to fix this issue.

[2020-10-02 08:02] agilatakishiyev opened #108 "Regular Expression Denial of Service (ReDoS) in ua-parser-js version that this package uses"
1. Bug description
react-device-detect uses ua-parser-js@0.7.21 and this version of ua-parser-js has a ReDoS issue
2. Steps to reproduce
upgrade ua-parser-js version to 0.7.22 as it is fixed in this version

[2020-10-05 07:58] #94 closed

[2020-10-05 08:00] #108 closed

[2020-10-08 18:22] artmsv opened #112 "BrowserView, MobileView, TabletView shows on iPad at the same time"
1. Bug description
BrowserView, MobileView, TabletView shows on iPad at the same time
2. Steps to reproduce
Add BrowserView, MobileView, TabletView into react component, start iPad simulator on macOS, open page in safari
3. Device user-agent
`"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0 Safari/605.1.15"`
I used this user-agent in desktop ch

[2020-10-09 19:10] matthew9510 commented on #112
Glad I'm not the only one. Is there any workaround that you know of at this moment @h3xsoul ?

I know this problem doesn't appear when using chrome on the ipad, but I need to handle the safari edge case as well.

[2020-10-10 10:50] andreademasi commented on #54
Bump

[2020-10-13 20:36] h3xsoul commented on #112
@matthew9510 As you can see from the screenshot `isTablet` = `true` for tablets and `false` for mobile and desktops. So I used {isTablet && <BrowserView/> } in this case it will show proper view

[2020-10-13 20:38] matthew9510 commented on #112
@h3xsoul right on. Thanks

[2020-11-02 09:50] AdamKochanski opened #114 "isSamsungBrowser detection (Samsung Internet browser)"
There is no possibility to detect Samsung Internet browser

Just add `const isSamsungBrowser = navigator.userAgent.indexOf('SamsungBrowser') > - 1`

[2020-11-03 13:36] iggyZiggy commented on #97
Steps to reproduce this issue:
1) use input field
2) use isPortrait and withOrientationChange like in example
3) once keyboard shows up, isPortrait is set to false

[2020-11-06 08:38] sergioloporto commented on #22
Hi, can you please write what changed between 1.13.1 and 1.14 ?

[2020-11-11 21:14] RuiGuilherme commented on #75
You can use useEffect;

[code]

[2020-11-12 16:19] gyto23 opened #115 "isIE cannot be detected"
Browser is not recognized by any means, even testing from original library of `ua-parser-js` and trying to have this approach of
[code]
Ways to reproduce is to check user agent of the IE11 via http://faisalman.github.io/ua-parser-js/
Issue was already mention here https://github.com/faisalman/ua-parser-js/issues/455

[2020-11-22 20:41] ssmith-wombatweb commented on #67
@duskload Brave now has navigator.brave which can be check to see if it is Brave Browser or not.

[2020-11-24 10:27] o1dnik opened #116 "Fetch & compare with latest available version of a browser"
**1. Feature description**

Show if the browser is being outdated.

**2. What do you suggest**

As an example, there could be a simple list of available versions like [this one](https://updatemybrowser.org/browser), but technically it's easy to subscribe to the feed of new version releases and store this info somewhere internally. A function like 'getBrowserLatestVersion' might perform the check a

[2020-11-25 18:52] jaredscheib opened #117 "Pass through data attributes to Views"
1. Feature description
Pass through data attributes, such as `data-component`, from `<BrowserView>`, `<MobileView>`, etc. for ease of DOM inspection, among other use cases.

2. What do you suggest
Accept any `data-` attribute on the component, and simply pass it through to the container.

3. Any additional info (links, screenshots, descriptions etc)
This is what my BrowserView currently looks like

[2020-11-27 03:11] thilllon opened #118 "mobile detection failed when using Chrome devtool's Toggle Device Toolbar"
1. Bug description
Mobile detection is failed when I am using Chrome devtool's "Toggle Device Toolbar".

2. Steps to reproduce
Open Chrome devtool and turn "toggle device toolbar" button on which is at upperleft side.
"isMobile" is set to be "false" on the console.

3. Device user-agent, 4. Device/Browser type/name
Windows 10, Chrome latest version.

[2020-12-08 12:47] Barney241 opened #119 "isIPad13 not working"
isIPad13 returns false when using ipad pro. But its working on ipad mini

this is data from deviceDetect()
browserFullVersion: “13.0.1”
browserMajorVersion: “13"
browserName: “Safari”
engineName: “WebKit”
engineVersion: “605.1.15”
isBrowser: true
osName: “Mac OS”
osVersion: “10.15”
userAgent: “Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.1 Saf

[2020-12-21 03:32] conspireagency opened #122 "Support for React 17.0.1"
1. When I attempt to install on a new NextJs project (React 17.0.1) get the error described in #3 here.  Perhaps I'm missing something, but would be great to make this compatible.
2. What do you suggest
3. Found: react@17.0.1
Could not resolve dependency:  peer react@"^0.14.0 || ^15.0.0 || ^16.0.0" from react-device-detect@1.14.0

[2020-12-21 14:06] Hamdan85 opened #123 "Chrome is being detected as Safari in iPad"
1. isSafari or isMobileSafari returns true when running chrome in iPad 2020 (probably others too)
2. Get iPad 2020, open chrome and render the check
3. iPad Pro 2020 with chrome.
4. iPad Pro 2020 with Chrome

My app shouldn't run in safari so I do this check:

const isBrowserSupported = !isSafari && !isMobileSafari;

and it returns true in chrome on iPad Pro 2020

[2020-12-22 06:45] duskload commented on #123
@Hamdan85 Please provide iPad Pro 2020 user agent

[2020-12-22 06:47] duskload commented on #122
@conspireagency Just released 1.15.0, should be working now. Please have a check

[2020-12-23 02:03] Hamdan85 commented on #123
@duskload man, I'm sorry but I'm not sure what you mean... Isn't it Chrome?

I'm sorry but if you want the console user agent, I won't be able to give you because it happens in BrowserStack (but it's also reproducible in all customers hardware)

Can I help? Please tell me exactly what you need and I'll fetch it for ya ;)

[2020-12-23 20:56] Hamdan85 commented on #123
@duskload check this out.. I managed to get the user agent that causes the issue:

![image](https://user-images.githubusercontent.com/1886026/103036174-e44a4800-4547-11eb-8e4b-36dbe7dc160c.png)

Mozilla/5.0 (iPad; CPU OS 14_- like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/86.0.4240.93 Mobile/15E148 Safari

[2020-12-29 12:21] facinick opened #126 "Android Tab s6 lite detected as Mobile Only"
Hi, I used isMobileOnly variable to check if device is tablet or not, in almost every case it was detecting properly but in "Android Tab s6 lite" specifically it detected as a mobile instead of tablet. isMobileOnly was true.

[2021-01-01 15:00] Baruchma01 commented on #119
This will fix the issue https://github.com/duskload/react-device-detect/pull/127

[2021-01-11 14:08] sinnbeck commented on #112
I fixed it by making my own BrowserView which I import instead of the original one

[code]

[2021-01-20 03:18] ChenYCL opened #128 "isBrowser not working on Chrome , always be mobile mode. Safari is ok"
![image](https://user-images.githubusercontent.com/25706676/105122436-2b106b00-5b11-11eb-9811-a291c5657fc3.png)
![image](https://user-images.githubusercontent.com/25706676/105122435-2b106b00-5b11-11eb-832d-a3af147d86ea.png)

[2021-01-28 12:28] digz6666 commented on #75
Currently I reverted back to version 1.9.10 and its working for me.

[2021-01-28 12:33] jamesryan-dev commented on #75
oooo safe for this @digz6666 I'll do the same

[2021-01-30 11:22] nick-tw commented on #128
Having the same issue.

[2021-01-31 23:23] ThallyssonKlein commented on #118
Does anyone have any temporary solution to this problem?

[2021-02-03 13:11] thilllon commented on #118
@ThallyssonKlein I did not think about that way. Thank you.

[2021-02-03 13:11] #118 closed

[2021-02-14 20:27] ZebTheWizard commented on #128
I had the same problem when rendering static pages. I fixed it by using the JSX syntax instead of checking the boolean value manually.

It looks like the value is only checked during site generation instead of dynamically in the browser.

[2021-03-07 23:33] shuttleriiiz opened #131 "Rename `browser` to `desktop`"
1. Feature description
Rename `browser` to `desktop`

2. What do you suggest
Using `browser` to refer to desktop browser is not really intuitive, because all of the devices are using "browser" to display the app.

3. Any additional info (links, screenshots, descriptions etc)

[2021-03-08 13:14] DoubleMalt commented on #123
Chrome on iOS is just a decoration around the iOS webView. When it comes to supported features and the JS engine, Chrome on the iPad is Safari (just even a little bit more restricted).

[2021-03-08 15:44] Hamdan85 commented on #123
well... respectfully, but this is common knowledge. we know that.

but, in order for the library to attend its purpose, it should differentiate them anyway, right?
maybe I'm wrong about it, but it feels to me that it should.

[2021-03-11 01:03] fernando-orchata opened #132 "isMobile returning false on iPhone 12 Pro"
**Bug description**

isMobile helper is returning false on iPhone 12 Pro

**Device/Browser type/name**

Chrome

When I use this in safari on an iPhone 12 Pro, isMobile return true, but if I use Chrome is returning false

[2021-03-11 07:37] #122 closed

[2021-03-11 07:40] #69 closed

[2021-03-11 07:40] #38 closed

[2021-03-11 07:44] duskload commented on #132
@fernando-orchata Please share iphone 12 pro user agent

[2021-03-11 07:45] duskload commented on #131
I wouldn't delete `isBrowser` for the sake of compatibility with previous versions but I'll add `isDesktop` as alias.

[2021-03-11 08:58] #117 closed

[2021-03-11 08:58] duskload commented on #115
Should be working now, was fixed in ua-parser-js and its version was updated.

[2021-03-11 08:58] #115 closed

[2021-03-11 11:30] duskload commented on #131
Added. Update package to the latest version

[2021-03-11 11:30] #131 closed

[2021-03-11 11:31] duskload commented on #114
Added. Update package to the latest version

[2021-03-11 11:31] #114 closed

[2021-03-11 11:31] duskload commented on #83
Added enums.

[2021-03-11 11:31] #83 closed

[2021-03-12 01:17] fernando-orchata commented on #132
@duskload Hi!

Here's the User Agent

[code]

[2021-03-15 18:10] bc-bane commented on #107
This would be very useful, we have an instance where we are using react-native-web and need to know if the app is running in the ios or android mobile browser or is it's ios mobile vs desktop browser

[2021-03-16 14:59] fernando-orchata commented on #132
@duskload Hi!
Do we have news about this?
Just wanted follow up

[2021-03-23 16:54] fernando-orchata commented on #132
@duskload Hi!

Do we have news about this?

[2021-03-23 18:27] hnilsen commented on #123
Safari has limitations that would make it problematic to identify it as Chrome. I.e. Safari doesn't support a lot of SVG stuff, while all the other browsers support SVG fully.

If you want to detect Safari to display PNG instead of SVG as an alternative, that works well. If Chrome on iPad gets served an SVG, it will not display it properly, and Safari is the correct detection here.

Guess this isn

[2021-03-24 00:02] ronfogel commented on #132
also on Google Pixel 4
Mozilla/5.0 (Linux; Android 11; Pixel 4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.105 Mobile Safari/537.36

[2021-03-31 09:57] sushinoya opened #137 "isDesktop is true when using DuckDuckGo browser on mobile"
1. Bug description - isDesktop is true when using DuckDuckGo browser on mobile
2. Steps to reproduce - Set custom CSS for isDesktop and open the website using DuckDuckGo on mobile. The same works alright if opened on Chrome on the same mobile device
3. Device user-agent - Unsure
4. Device/Browser type/name - Pixel 3A / DuckDuckGo
5. Share code for a better understanding (for example, here https://

[2021-04-12 20:20] corncobb commented on #119
Having the same issue. iPad will be on latest IOS (version 14) but `react-device-detect` will still show `osVersion: 10.15.6`

[2021-04-13 13:27] Baruchma01 commented on #119
hey @corncobb use this ` const ios14Ipad = nav && nav.platform && (nav.platform.indexOf(type) !== -1 || (nav.platform === 'MacIntel' && nav.maxTouchPoints > 0))`

[2021-04-15 00:24] dancixx opened #138 "Can I detect the mobile webview?"
Can I use this library to detect a webview like messenger or instagram?

[2021-04-28 17:44] #138 closed

[2021-05-19 10:57] troydraws opened #141 "osVersion on iPad reports differently than iPhone"
1. Bug description
on the iPad in Safari, using `osVersion` does not bring up `14.5.1` as expected but returned `10.15.6`.
This differs from iPhone which returns `14.5.1` correctly.

Note that in iPad Chrome, the `osVersion` returns `14.5`, and with iPad firefox it returned `10.15.4`. I've no idea if this is expected behaviour, but I was expecting `osVersion` to return the version of iOS.

2. Step

[2021-05-22 10:38] guillo-crikle commented on #123
Hi guys, we're experiencing the same problem on this device:

**Browser name:** Chrome
**Browser version:** 87.0.4280.163
**User Agent:** Mozilla/5.0 (iPad; CPU OS 14_4 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/87.0.4280.163 Mobile/15E148 Safari/604.1
**Operating System:** iOS 14.4

Any thoughts on how to sort it?

Thanks

[2021-06-08 04:03] pnbkn opened #142 "isMobile works on localhost, but not when pushed to the server"
I am using Gatsby and everything works fine on localhost. As soon as I deploy it to the server, it doesn't work.

[2021-06-14 18:46] Dupflo opened #143 "isIE return "false" and browserName return "none" on NextJS"
I was surprised to see than { isIE } return "false" and { browserName } return "none" after building and starting a Next.js project

[2021-06-18 21:45] jalovatt opened #144 "useMobileOrientation isn't exported"
1. Bug description
    https://github.com/duskload/react-device-detect/pull/120 added a `useMobileOrientation` hook, and a type for it is exported, but  as of 1.17.0 the hook itself is not.
2. Steps to reproduce
    Try to `import { useMobileOrientation } from 'react-device-detect';`

This would be really nice to have, as I've _almost_ managed to get my current project completely off of HOCs.

Che

[2021-06-20 07:14] #126 closed

[2021-06-21 23:23] tyler-ground commented on #128
Assuming they're rendering a static page, then this isn't a bug.

[2021-06-23 19:29] nresh commented on #142
@pnbkn I was having a similar issue.  I've been working on a gatsby app and when I would run `gatsby develop`, both `isMobile` and `<MobileView>` would work as expected.

however, when I deployed to prod, or ran the built version locally by running `gatsby build` and `gatsby serve`, it would not work and seemingly not recognize mobile devices.

after doing some console logging, I found that `isMob

[2021-06-24 17:34] pnbkn commented on #142
Thanks for posting this, that was how I ended up solving it.

[2021-06-24 17:34] #142 closed

[2021-06-28 03:08] qqhann opened #145 "The osVersion wrongly reports 10.15.7 on macOS Big Sur 11.4"
1. Bug description

On macOS Big Sur 11.4, the osVersion wrongly reports 10.15.7

2. Steps to reproduce

Use Safari on macOS, and see the returned result from osVersion

3. Device user-agent
4. Device/Browser type/name

Safari 14.1.1 (16611.2.7.1.4)

5. Share code for a better understanding (for example, here https://codesandbox.io/s/new)
6. Any additional info

[2021-06-28 03:43] #106 closed

[2021-06-28 14:09] upalatucci opened #146 "iPad Pro BrowserView and MobileView not working properly"
On iPad Pro iOS 14 - Safari BrowserView and MobileView render their children at the same time.
It seems not to work properly.
Is there anybody working on this? Can I take it?

[2021-07-02 16:59] mosesoak opened #147 "Provide pointer and hover information"
From the article [Touch Devices Should Not Be Judged By Their Size ](https://css-tricks.com/touch-devices-not-judged-size/):

CSS surfaces this information in the pointer and hover media queries:

[code]

I'd love to see react-device-detect surface these two data points so we can begin untangling "touch" from "mobile", as technology evolves rapidly.

Example: We recently had a carousel that we wan

[2021-07-05 08:28] ykavi commented on #31
if you are using user agent for mobile information
      cy.visit(yourUrl, {
        headers: {
          'user-agent': 'Mozilla/5.0 (Linux; U; Android 4.3; en-us; SM-N900T Build/JSS15J) AppleWebKit/534.30 (KHTML, like Gecko) Version/4.0 Mobile Safari/534.30',
        }
      });

[2021-07-13 19:27] paqstd-dev opened #148 "Toggle device toolbar and listen events"
Hi, I found one interesting feature. When I enable "Toggle device toolbar" in my deskop pc, "mobile device" works fine, the MobileView is shown. But when I turn off "Toggle device toolbar", everything that should be displayed as BrowserView is not displayed and I have to refresh the page manually. How can this problem be solved?

My code is something like this:
[code]

[2021-07-16 06:41] skoal2007 commented on #146
Yes, I have same issue on my ipad air 4th, chrome works fine, but Safari render both  BrowserView and MobileView. Any solution?

[2021-07-16 07:05] skoal2007 commented on #146
Hi Upalatucci,

As the people mentions on other thread, you can solve this issue with the work around solution
[code]

[2021-07-16 09:05] upalatucci commented on #146
Thanks man!

[2021-07-26 16:45] barrymichaeldoyle commented on #132
Any feedback on this issue?

[2021-07-28 13:15] selenajosephine opened #149 "I have a tablet - Lenovo X1 G2, which is getting detected as a laptop (isMobile is false)"
1. Lenovo X1 G2 is not detected as a mobile/tablet
2. Lenovo X1 G2
3. Google Chrome
4. Lenovo X1 G2 / Chrome
5. console.log(isMobile)
6. NA

[2021-07-29 15:04] ProgramacionesWeb commented on #143
Same thing happening to me. No way to know if the user is using IE.

[2021-08-04 17:39] elebumm commented on #149
Have you tried using the `isTablet` hook?

[2021-08-05 07:11] cameronamini opened #151 "can't get react-device-detect to render based on device"
I'm trying to render my website differently based on whether it's being viewed on desktop or mobile. However, even though I'm using react-device-detect it is not working as intended. Even when viewing my website on mobile, I end up getting both the components meant to be rendered in MobileView as well as the components rendered in BrowserView.

I made a [code sandbox](https://codesandbox.io/s/reac

[2021-08-17 14:22] alicerocheman opened #152 "isMacOs returns false on Mac OS, and isWindows returns false on Windows"
1. Bug description
2. Steps to reproduce
3. Device user-agent
4. Device/Browser type/name
5. Share code for a better understanding (for example, here https://codesandbox.io/s/new)
6. Any additional info

[2021-08-17 20:54] andrewlorenz commented on #151
in your code sandbox your code is:
[code]
so if mobile is detected render the non-mobile view otherwise render the mobile-view ....  hhmmm !

[2021-08-18 14:16] andrew14i commented on #143
Do you found the problem?

[2021-08-19 13:32] nhatmvo opened #153 "Simulate MobileView on browser"
Is there any chance I can simulate the <MobileView /> on browser so that I can debug my CSS?

[2021-08-19 16:10] appleseed-iii opened #154 "Brave Mobile Browser, browserName incorrect on iOS Mobile"
1. Bug description

    Brave Mobile Browser on iOS returns `browserName === "Mobile Safari"` and therefore, `isMobileSafari === true`.

2. Steps to reproduce

    on Brave mobile browser run `console.log(browserName, isMobileSafari.toString());`

3. Device user-agent

    Mozilla/5.0 (iPhone; CPU iPhone OS 14_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.1.1 Mobile/15E148 S

[2021-08-20 13:28] appleseed-iii commented on #154
Digging into this some more... it looks like maybe Brave is just a wrapped version of apple's webkit browser... This isn't really an issue with react-device-detect. I'll move this to stack overflow.

[2021-08-20 13:28] #154 closed

[2021-08-28 02:11] cameronamini commented on #151
Oh yikes, must have been playing around with it and left it like that. I fixed it but I'm still getting the the error

[2021-08-31 09:46] MarcTabaries opened #155 "Detect if my user is on mobile in landscape mode... or on tablet in portrait mode"
Hi,

I need to detect:

- If my user is on a mobile in landscape mode
- If my user is on a tablet in portrait mode

If I'm in one of these cases, I want to display a specific component to my user.

For the moment, I can detect if I'm on a smartphone and/or tablet... but not in landscape or portrait mode.

I saw in the documentation that there was a "withOrientationChange" section (https://www.npmj

[2021-09-01 14:48] MarcTabaries commented on #155
By learning more about HOCs, I figured out what to do. Great !

[code]

[2021-09-07 09:53] jinojacob15 opened #157 "isMobileOnly gives true when screen size is 768px"

[2021-09-09 14:52] benhamiltonpro commented on #152
Make sure to check if the `window` is defined otherwise the code may be running server-side and will not have a user agent.

[2021-09-10 09:14] WebTravel commented on #138
@dancixx Why do you close it? Can you reproduce some information about detecting of webview. Now I am using `isMobileOnly` flag from this library and it doesn't work in webview. How do you detect webview now?

[2021-09-15 15:05] renlay opened #158 "isLandscape delay on orientation change in iPad"
On initial load, `isLandscape` value is valid. When screen orientation changes from portrait to landscape or vice versa, this results to when in portrait, `isLandcape` is true and when in landscape `isLandscape` is false.

[2021-09-20 16:51] andrewlorenz commented on #151
you are using isMobile - which checks the **device type** not the dimensions of the **viewport**.  This package is called react-device-detect which is a very accurate name!

You can use css / media queries, or if you want to detect it in your code, I suggest you use the react-responsive package.  This has a really cute hook called useMediaQuery which allows you to code media queries based on break

[2021-09-20 18:24] cameronamini commented on #151
Hmm, we use it at my workplace and for our product it does seem to render differently based on screen size only. For example mobile view renders if I choose a smaller screen size in chrome inspector there.

[2021-09-20 18:24] cameronamini commented on #151
But in any case using the package you mentioned seems like a good alternative, thank you for the help

[2021-09-22 14:06] Keitaro84 opened #160 "Edge on Android mobile phone return isLegacyEdge true"
Edge on Android mobile phone return isLegacyEdge if I'm not wrong it should be false and it should return  isEdgeChromium true.

Device detect:
{
	"isMobile": true,
	"vendor": "none",
	"model": "Mi A2 Lite",
	"os": "Android",
	"osVersion": "10",
	"ua": "Mozilla/5.0 (Linux; Android 10; Mi A2 Lite) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.82 Mobile Safari/537.36 EdgA/93.0.961.53"
}

[2021-09-25 07:41] #155 closed

[2021-09-25 07:43] duskload commented on #157
@jinojacob15 This package is not based on screen size or media queries. It uses user-agent string to define device type.

If you need to do something in you app based on screen size use css media queries, or as alternative `react-responsive` package can help you with it.

[2021-09-25 07:43] #157 closed

[2021-09-25 07:48] duskload commented on #116
I don't think that this feature is needed for this application.

[2021-09-25 07:48] #116 closed

[2021-09-25 07:49] #144 closed

[2021-09-27 13:45] mrtnzlml opened #162 "V2 changelog missing?"
Hello! 👋 I noticed that version 2.0.0 has been released but I cannot find any information in releases on GH or any changelog. Would you please share some information about the changes?

Thank you very much!

[2021-09-27 16:30] duskload commented on #162
Thanks for pointing this out, forgot to submit it.

https://github.com/duskload/react-device-detect/releases/tag/v2.0.0

[2021-09-27 16:30] #162 closed

[2021-09-27 16:32] duskload commented on #75
It's possible to use it in SSR now, (for example in getInitialProps for next.js).

https://github.com/duskload/react-device-detect/blob/master/docs/api.md#utils--ssr

[2021-09-27 16:32] #75 closed

[2021-09-27 16:33] duskload commented on #100
Not sure how it related to the package, try using new utilities, it may help you

https://github.com/duskload/react-device-detect/blob/master/docs/api.md#utils--ssr

[2021-09-27 16:33] #100 closed

[2021-09-28 20:26] samhstein commented on #75
just in case it helps...

<   const userAgent = req['userAgent']

Settings.getInitialProps = async ({ req }) => {
  const userAgent = req ? req.headers['user-agent'] : navigator.userAgent;
  const { isMobile, isMobileOnly } = getSelectorsByUserAgent(userAgent);
  return {
    isMobile: isMobile,
    isMobileOnly: isMobileOnly,
  }
}

[2021-10-02 12:40] lordnodd commented on #104
Detecting incognito or private browsing can be achieved through loopholes in browser but in originality they are bugs which are regularly patched  eg: detecting through filesystem on chromium used in this stack-overflow question  [detecting-private-browsing-mode]( https://stackoverflow.com/questions/2860879/detecting-if-a-browser-is-using-private-browsing-mode#22623958) is a [work-in-progress ](ht

[2021-10-04 07:10] scriptex opened #163 "Incorrect ViewProps/CustomViewProps types"
Based on the latest (v2.0.0) release, the CHANGELOG states that

This is not reflected in the [`ViewProps`](https://github.com/duskload/react-device-detect/blob/master/index.d.ts#L79) as well as in the [`CustomViewProps`](https://github.com/duskload/react-device-detect/blob/master/index.d.ts#L86).

Please note that this is a pure TypeScript error as the compiler complains about a missing prop when

[2021-10-04 07:38] duskload commented on #163
@scriptex Thanks for the report! I've published version 2.0.1 with fix.

[2021-10-04 07:38] #163 closed

[2021-10-05 09:19] duskload commented on #104
@lordnodd That will require constant support. But if you willing to do this - PRs are always welcome

[2021-10-11 21:15] javierfuentesm commented on #132
also return false in safari using the emulation device , on chrome works fine

[2021-10-12 07:45] bfctd opened #166 "微信 浏览器"
1.
2. i hope that you can support it
3.

希望可以加入 微信浏览器 的判断

[2021-10-22 15:27] quaspar opened #167 "Malware in dependency"
ua-parser-js has been hijacked and installs malware on your computer. Check it’s npm page.
fix dependency to version 0.7.28 as later versions are dangerous.

[2021-10-22 15:41] #167 closed, assigned to nobody

[2021-10-24 22:22] chtay1 opened #168 "ua-parser move to a patched version after malware issue"
ua-parser.js was compromised and was installing malware on effected systems. Whilst react-device-detect did not depend on a compromised version it would be a good idea to update the package reference to one of the patched versions.

Compromised versions: 0.7.29, 0.8.0, 1.0.0

Patch versions: 0.7.30, 0.8.1, 1.01

[2021-10-25 10:04] #168 closed, assigned to nobody

[2021-10-28 13:58] wjureczka opened #169 "Headless Chromium is not detected as chromium"
1. Bug description
I use Playwright with Chromium Headless for e2e testing. react-device-detect do not detect properly that the agent is still chromium.
2. Steps to reproduce
Write simple test in playwright in headless mode and use isChrome/isChromium/isConsole flags from react-device-detect - chromium is not detected.
Expected result: detect chromium headless as chromium
3. Device user-agent
macO

[2021-11-08 08:44] JohnAllen commented on #54
Is there a recommended or canonical way of doing this with NextJS?

[2021-11-09 18:34] jeremylin8 opened #170 "useMobileOrientation not working"
1. Bug description
When I tried to use "const { isLandscape } = useMobileOrientation()", I get "TypeError: Object(...) is not a function"

2. Steps to reproduce
import { useMobileOrientation } from 'react-device-detect';
const { isLandscape } = useMobileOrientation();

[2021-11-10 03:31] wadehammes commented on #132
Im noticing this in latest iOS Firefox, Safari, and Chrome.

[2021-11-10 12:37] StampixSMO commented on #38
@duskload Not sure why this is closed, `isSafari()` and `isMobileSafari()` still don't correctly detect WKWebView on iOS (= in-app browser)

[2021-11-10 12:46] StampixSMO commented on #38
`getBrowser().name` returns `Facebook` instead of `Mobile Safari`

[2021-11-11 17:22] arunpugahz opened #171 "isMobile is true for bigger screen"
1. Bug description
I use this package for my React application.
When I open the website on a large screen, the value of deviceType is `mobile` and isMobile is set to `true` which affects the use case of these helpers
2. Steps to reproduce
You can debug in chrome using responsive window and set the width to 3740 and height to 1720
3. Device/Browser type/name
Chrome
my chrome window
![Screenshot 202

[2021-11-17 18:36] greekjoel commented on #170
I had the same thing, then I updated react-device-detect to the latest version and tried it a bunch of times but it didn't work. A bit later after restarting my computer I tried with the exakt same code (I had ut commented the code out so I just uncommented it) and suddenly it worked. 🤷

[2021-11-18 07:39] pxim opened #172 "How to identify HarmonyOS ?"
1. Feature description

    identify HarmonyOS

2. What do you suggest
3. Any additional info (links, screenshots, descriptions etc)

[2021-11-18 10:54] duskload commented on #172
@pxim Provide HarmonyOS user agent, and I will have a look

[2021-11-24 11:05] kopax-polyconseil opened #173 "Chrome linux: DeviceDetect.browserVersion returning 100 while on Version 96.0.4655.0 (Official Build) dev (64-bit)"
1. Bug description
On Debian stretch, using google chrome `Version 96.0.4655.0 (Official Build) dev (64-bit)` `DeviceDetect.browserVersion` is returning `100` while I expected him to return `96`
2. Steps to reproduce
Install stretch; install google chrome; test react-device-detect browserVersion
3. Device user-agent
`Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100

[2021-12-06 23:38] gpoole opened #174 "Please add a note about using user agent sniffing"
Appreciate your work on the library and I can see that it's useful for a bunch of cases, but because it uses user-agent sniffing I think it would be helpful to include a note in your readme mentioning that it does that, along with link out to a detailed explanation for why users may or may not want to go that route. For example, this article on MDN thoroughly covers the background and I think is i

[2021-12-14 10:03] Mukhammadali commented on #171
Either ChromDevtools responsive feature is providing mobile userAgent or this library has got a bug in its parsing.

But: if you disable DevTools responsive feature, and resize the whole browser window, it works as expected. So for the time being, do not use DevTools to test mobile devices

[2021-12-15 02:38] russeg commented on #174
maybe you can write it and do a pull request, since you have read the mdn doc and understood it .

what other options? this ranks highly probably because there aren't much options.

[2021-12-15 05:00] gpoole commented on #174
I'm waiting for a response from the repo owner before putting the extra effort into a PR.

Media queries targeting mobile device sizes via `matchMedia` are probably the best alternative approach. There are quite a few react libraries for that such as [react-responsive](https://www.npmjs.com/package/react-responsive) and [@react-hook/media-query](https://www.npmjs.com/package/@react-hook/media-quer

[2022-01-03 13:10] srcnalt opened #175 "Detecting WebView browsers"
1. Feature description
- `isWebView` flag that can detect Android WebView and IOS WKWebView or UIWebView browsers

[2022-01-08 15:04] ashwinkhode commented on #175
+1

[2022-01-08 15:05] ashwinkhode commented on #138
@dancixx +1

[2022-01-18 05:58] ericblade opened #176 "OsTypes.Android either not working, or documentation doesn't make sense"
[code]
warns that it's Android no matter what browser/platform i'm on.

enums documentation seems to indicate that that should work?

![image](https://user-images.githubusercontent.com/1451847/149879356-bb9586cc-d67f-41af-bc78-3cbc0de05ca6.png)

[2022-01-25 11:10] gmkhussain commented on #170
It's works with version : 2.1.2

[code]

[2022-01-25 11:29] gmkhussain commented on #176
Detect this way.

[code]

[2022-01-25 11:51] ericblade commented on #176
Not really what I'm looking for.  I think this is an issue in the documentation being totally incorrect.

What does work:

[code]

[2022-01-25 13:28] duskload commented on #176
@ericblade You're right, it's a documentation issue. It's just a type, not a selector, you can compare it, for example, with osName, like this:

[code]

Using it like it described in documentation right now is wrong, I will fix it in a future release. Thank you.

[2022-01-25 18:00] ericblade commented on #176
That is kind of what I thought, but I poked around through the code and decided there was a lot of magic involved that I didn't have time to understand, and I noticed "isAndroid" which is exactly what I was going for anyway   (have a specific issue that only affects Chrome on Android... sigh)

[2022-01-26 14:52] YummyTi opened #178 "How can I get macAddress"
1. Feature description
2. What do you suggest
3. Any additional info (links, screenshots, descriptions etc)

[2022-01-26 20:16] chranderson commented on #102
`isIOS13` returns `true` for iOS 15.2 on iPhone 12 simulator

<img width="223" alt="Screen Shot 2022-01-26 at 1 13 23 PM" src="https://user-images.githubusercontent.com/2660355/151239607-3505780f-a8d0-44f0-8654-f215be029e2a.png">

Since this is still broken over a year later, I'd assume the best solution (until it is fixed) would be to check the actual `osName` & `osVersion` and not use `isIOS13`

[2022-01-26 21:55] HugoG7 opened #179 "How to detect Desktop Site enabled on mobiles"
is there any feature detect if the mobile has the Desktop Site enabled?

I would like to detect this because Im blocking if the app is acceded through a mobile phone and I noticed if this is feature is on, then the `isMobile` doesnt work properly

[2022-02-13 11:46] DerGoogler opened #180 "More detection"
Please add more useragent detections, like instagram facebook etc

[2022-02-13 11:48] DerGoogler commented on #172
Open this page https://eruda.liriliri.io/. then open the console and type `navigator.userAgent`

That will give you the user agent

[2022-02-23 08:26] btn0s commented on #39
bumping this, ts doesn't like the `any` coming back from the hooks

[2022-03-01 22:03] vomc commented on #97
I have also discovered this recently, will look to make some kind of reproducible example. In my case this was hard to discover as this only happens on Android, where showing the soft keyboard causes a window.resize event to fire which sets `isPortrait` to false. This does not happen with the soft keyboard on ios as that does not trigger a window.resize event.

[2022-03-09 16:11] smschick opened #183 "User agent parsing and upcoming Chrome & Firefox versions 100"
### Summary
Chrome and Firefox will both be releasing a 3 digit version of 100 shortly and I wanted to bring up the issue of UA parsing within react-device-detect.  There is a discussion/issue thread with the `ua-parser-js` dependency:  https://github.com/faisalman/ua-parser-js/issues/567

It seems to be tested and passing, but wanted to check if anyone has tested the parsing approaches within thi

[2022-03-11 06:46] abhijith-astrum opened #184 "isBrowser returns false when accessing through mobile web browser"
1. Bug description
isBrowser does not detect mobile web browsers and returns false.

2. Device user-agent
Chrome for mobile

3. Device/Browser type/name
Moto G10/mobile web browser/Chrome

[2022-03-11 20:06] alexandermaisey commented on #145
This is still true, additionally the same happens with MacOS Monterey

[2022-03-14 04:53] dependasec[bot] opened #185 "同学，您这个项目引入了371个开源组件，存在2个漏洞，辛苦升级一下"
检测到 duskload/react-device-detect 一共引入了371个开源组件，存在2个漏洞
[code]
另外还有2个漏洞，详细报告：https://mofeisec.com/jr?p=i266ff

[2022-03-25 05:56] priwatm commented on #172
https://whatmyuseragent.com/platforms/har/harmonyos user agent

[2022-04-03 19:56] floroz commented on #169
same issue here, running Cypress in headless mode in CircleCI and tests are failing because the flag is not returning the expected boolean

[2022-04-05 16:21] joshykautz opened #187 "Unable to resolve dependency tree in React 18.0.0"
1. When I create a brand new React app, and try to install the react-device-detect package, I receive an error:
[code]

2. Steps to reproduce
[code]

3. Device user-agent
N/A

4. Device/Browser type/name
N/A

5. Share code for a better understanding (for example, here https://codesandbox.io/s/new)
N/A

6. Any additional info
N/A

[2022-04-05 16:37] joshykautz commented on #187
There's a PR request that resolves this: https://github.com/duskload/react-device-detect/pull/186

[2022-04-05 19:48] Rylab commented on #145
Came here to report the same issue, even in latest version, Mac OS version still incorrectly reported as 10.15.7 for anything more recent.

[2022-04-05 20:25] Rylab commented on #145
Tracked down this "bug" which unfortunately is within WebKit itself (e.g. what the browser reports) so not a problem with this device-detect library, or something that could be easily worked around or resolved here; it needs to be handled better within WebKit. They're limiting the max reported Mac OS version because of compatibility with older versions. More here: https://bugs.webkit.org/show_bug.

[2022-04-10 12:23] #174 closed

[2022-04-11 19:18] duskload commented on #187
@joshykautz  Check new 2.2.2 version, it should be fixed now.

[2022-04-11 19:18] #187 closed

[2022-04-11 19:20] duskload commented on #178
@YummyTi  There is no way you can get a computer mac address from javascript.

[2022-04-11 19:20] #178 closed

[2022-04-11 19:24] joshykautz commented on #187
Yep, looks great. Appreciate it @duskload

[2022-04-11 19:26] duskload commented on #148
This package use user-agent for getting info about mobiles. If you need to change your view depending on some condition, you'd better look something like `react-responsive`, which is using a sort of css media queries in js.

User-agent will only change view after page refresh, that's an expected behavior.

[2022-04-11 19:26] #148 closed

[2022-04-11 19:27] duskload commented on #158
@renlay There were updates to mobile orientation hooks and hoc, please check on new version.

If issue persist feel free to open another issue.

[2022-04-11 19:27] #158 closed

[2022-04-20 19:02] SirKadogan commented on #67
@duskload is @mjoynes-wombat-web solutions something we can implement here to check if the browser is Brave?

I'm still getting chrome for it

[2022-05-10 06:44] justin-crocus commented on #138
why was this issue closed? what is the purpose of creating issue if you just close it with no info or comment @dancixx

everyone would appreciate if at least little bit of info is provided before closing the issue

[2022-06-03 09:28] jensjakobosynlig commented on #89
Doesn't `browserName === 'Facebook'` work?

[2022-06-03 09:38] jensjakobosynlig commented on #184
`isBrowser` is a confusing name. Better use `isDeskop` and `isMobile` instead.

[2022-06-13 03:30] sjhsieh opened #190 "Module Not Found"
Hi, I'm getting Module not found error from webpack for react-device-detect

I've npm installed it, and I used
import {isMobile} from 'react-device-detect'; to import it, and. I get this error message:

web_1  | Module not found: Error: Can't resolve 'react-device-detect' in '/app/src/components/mobileInfo'
web_1  | resolve 'react-device-detect' in '/app/src/components/mobileInfo'
web_1  |   Parse

[2022-06-21 16:49] nichita-pasecinic commented on #97
@duskload Hi,
you can find the steps to reproduce [in this comment](https://github.com/duskload/react-device-detect/issues/97#issuecomment-721119349)

TL;DR: Just open a input on mobile in portrait mode and `isLandscape` will became `true`, though it should not

[2022-07-16 20:08] SpainTrain opened #191 "Replace `any` types for exported hooks & utils"
1. Type definitions for the API interface (hooks and utils)
2. Rather than definitions being `(ua: string) => any`, provide accurate type definitions
3. Provides autocomplete and static type checking (preventing bugs) for library consumers

Thanks!

[2022-08-01 08:47] bodyahnedko opened #192 "isTablet not working for Galaxy Tab A8 SM-X200. Detects as mobile=true"
Library detects tablet Galaxy Tab A8 SM-X200 as mobile.

Device user-agent
`"Mozilla/5.0 (Linux; Android 11; SM-X200) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36"`

Device: **Galaxy Tab A8 SM-X200/Chrome**

[2022-08-10 12:55] puneetverma05 opened #193 "doesn't work on iPad safari browser iOS 15.5"
`
isIPad13: false,
isIPhone13: false,
isIPod13: false,
isBrowser: true,
isDesktop: true,
isIOS: false,
isSafari: true,
`

[2022-08-10 18:35] puneetverma05 commented on #55
doesn't work on iPad, ios 15.5 #193

[2022-08-16 18:37] aldrichdev commented on #106
My solution for this, because I didn't want to apply my logic to iPads as well, was to check `isMobileSafari && isMobileOnly`. This returns false for iPad.

[2022-08-31 09:22] sumyathlaing commented on #192
Hi!..
I got the same error for Galaxy Tab S8 Ultra.
is there some update??

[2022-09-02 15:40] ryanweiler92 commented on #171
This is still an existing issue. I am also returning true for isMobileOnly when in responsive mode in Chrome DevTools. If I go on FireFox and open the DevTools it will return false.

[2022-09-02 16:23] ryanweiler92 commented on #171
Make sure to toggle off the 'toggle device toolbar', on the top of the chrome devtools. (Button looks like a tablet and phone). For some reason if you have this open, even if you are in responsive mode, the agent will say you are on a mobile device.

[2022-09-08 14:07] robotkoruslan opened #194 "Change api doc"
https://github.com/duskload/react-device-detect/blob/master/docs/api.md#utils--ssr

const userAgent = req.headers['user-agent'];

[2022-09-21 06:41] bitoffabyte commented on #179
Is there any solution for this, because it still shows false on mobile with desktop site

[2022-10-01 13:55] rkefi84 commented on #175
+1

[2022-10-11 15:28] chipit24 commented on #160
I ran into this problem today, this is indeed a bug with the library.

According to Microsoft article [Detecting Microsoft Edge from your website](https://learn.microsoft.com/en-us/microsoft-edge/web-platform/user-agent-guidance#microsoft-edge-legacy), Microsoft Edge Legacy was only available on Windows 10. So, as a temporary workaround you could include a check for Windows OS with the check for L

[2022-10-22 18:06] jonathanpauluze opened #195 "TypeScript error on tests"
1. I'm trying to create a test following the documentation, but TypeScript shows me an error saying that I can't assign values to a read-only property
2. Steps to reproduce:
- Create a test file (.spec.tsx)
- Write an assertion trying to update any rdd variable
3. --
4. --
5. Code:
[code]
6. --

[2022-11-03 19:26] travis7777 opened #196 "Not Working with Next.js 13 / React 18.2"
1. Was working prior to Next.js 13, now getting the following error on mobile: Unhandled Runtime Error
Error: Text content does not match server-rendered HTML.
See more info here: https://nextjs.org/docs/messages/react-hydration-error
2. Install nextjs 13, reload page that has mobile/desktop logic
3. Device user-agent - All Mobile seems
4. Device/Browser type/name - Chrome
5. Code:
import {Browser

[2022-11-17 19:25] chris-at-lemon commented on #196
I second this. As a workaround I wrap the sniffer in useEffect to trigger it after component has loaded:

[code]
Then use as such:

{device === "android" && <>somthing</>}

 In case it helps anyone out of a squeeze until there's a fix.

Cheers

Chris

[2022-11-24 10:43] kalesandhya commented on #132
Do we have any updates here please?

[2022-11-30 10:43] ruchika-phalke opened #197 "Selectors for tablet device doesn't work on samsung tablet"
Different selectors like isTablet, isMobile, isPortrait, isLandscape gives incorrect value.
Device information :- Samsung Galaxy S7 Edge browser

[2022-11-30 14:39] drbarazi commented on #196
hope this will help, i put on **app/layout.tsx**

"use client"
import '../styles/globals.css'
import { isMobile } from 'react-device-detect';
import { useEffect, useState } from 'react';

export default function RootLayout({
    children,
}: {
    children: React.ReactNode
}) {
    const [mobile, setMobile] = useState(false)
    const [isSSR, setIsSSR] = useState(true);

    useEffect(() => {